.footer-wrapper{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    background-color: rgb(19, 19, 19);
}

.footer-item {
    width: 256px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}