.game-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.ui-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spellbook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 242px;
    width:500px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.041);
    overflow: hidden;
}
.history-container {
    display: flex;
    flex-direction: column;
}
.input-line{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.command-input{
    background-color: rgba(255, 255, 255, 0.014);
    border: 0px;
    outline: none;
    color: rgba(255, 255, 255, 0.082);
    margin: 0;
}
.command-input:focus{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.062);
}
.prev-command {
    margin: 0;
}
.mana-display-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 700px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.041);
}
.mana-bar{
    background-color: rgb(110, 70, 255);
    height: 100%;
}
.mana-text{
position: absolute; 
}
.scroll-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(150, 150, 97);
    width: 424px;
    height: 764px;
}
.scroll-header{
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    text-align: center;
}
.scroll-content{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
    align-items: center;
}